{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Gestion des commentaires" }}{% endblock %}
{% block main %}
    <div class="full-dashboard">
        <section class="banner">
            <h1>Tableau de bord</h1>
        </section>
        <div class="table">
            <h2 class="text-center">Infos Utilisateurs</h2>
            <table>
                <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Statut</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a class="btn-form" role="button"
                           href="dashboard/adminUpdateUser/">Modifier
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table">
            <h2 class="text-center">Articles</h2>
            <table>
                <thead>
                <tr>
                    <th scope="col" class="text-center">Date de publications</th>
                    <th scope="col">Titres</th>
                    <th scope="col">Extraits</th>
                    <th scope="col">Images</th>
                    <th scope="col">Statuts</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="text-center">
                        Créer le
                    </th>
                    <td>
                        Titre de l'article
                    </td>
                    <td>
                        Excerpt
                    </td>
                    <td>
                        <a href="dashboard/pictureArticleUpload/"
                           class="btn btn-primary text-center">Ajouter image</a>
                    </td>
                    <td>
                        Statut (publié ou non)
                    </td>
                    <td>
                        <a class=" btn btn-primary" role="button" href="dashboard/updateArticle/">Modifier</a>
                    </td>
                    <td>
                        <a class=" btn btn-danger" role="button" href="dashboard/deleteArticle/">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a class=" btn btn-primary" role="button" href="dashboard/createArticle">Créer un nouvel article</a>
            </div>
        </div>
        <div class="table">
            <div>
                <h2 class="text-center">Aucun commentaire en attentes</h2>
            </div>
        </div>
    </div>

{% endblock %}


