{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Tableau de bord" }}{% endblock %}
{% block main %}
    <div class="full-dashboard">
        <section class="banner">
            <h1>Tableau de bord</h1>
        </section>
        <div class="tile-dashboard">
            <ul>
                <li><a class="btn-form" href="/user/account/{{ user.id }}">Mon compte</a></li>
                {% if user.roleLevel >= constant('Framework\\Controller::AUTHOR') %}
                <li><a class="btn-form" href="articleManagement">Articles / Catégories</a></li>
                <li><a class="btn-form" href="/comment/commentManagement">Commentaires</a></li>
                {% endif %}
                {% if user.roleLevel == constant('Framework\\Controller::ADMIN') %}
                <li><a class="btn-form" href="/user/userManagement">Utilisateurs</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}


