{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Articles" }}{% endblock %}
{% block main %}
<section class="banner">
        <h1>ARTICLES</h1>
</section>
<section class="articles">
    <div>
        {% for article in allArticle %}
            <a href="/article/read/{{ article.id }}">
                <article>
                    <figure>
                        <img src="{{ constant('Framework\\Controller::LINK_FILENAME') }}{{ article.imageFilename }}" alt="{{ article.imageAlt }}">
                        <figcaption>
                            <h1>{{ article.title }}</h1>
                            <span class="exerpt-article">{{ article.excerpt }}</span>
                            <span class="category-title">Catégorie(s): {{ article.name }}</span>
                            <span class="date-create">Modifié le: {{ article.updatedAt|date("d/m/Y H:i") }}</span>
                        </figcaption>
                    </figure>
                </article>
            </a>
        {% else %}
            <h2>Aucun article</h2>
        {% endfor %}
    </div>
</section>
{% endblock %}


