{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ article.title }}{% endblock %}
{% block main %}
    <section class="banner">
        <h1>{{ article.title }}</h1>
    </section>
    <div class="detail-article">
        <article>
            <img src="{{ constant('Framework\\Controller::LINK_FILENAME') }}{{ article.imageFilename }}"
                 alt="{{ article.imageAlt }}">
            <h2>{{ article.excerpt }}</h2>
            <p>{{ article.content }}</p>
            <div class="infos-article">
                <p>Catégorie(s): {{ article.name }}</p>
                <p>Modifié le {{ article.updatedAt|date("d/m/Y H:i") }}</p>
                <p>Auteur <b>{{ article.username }}</b></p>
            </div>
        </article>
        {% if (roleLevel >= constant('Framework\\Controller::USER')) %}
            <form method="post">
                <input id="autor" name="autor" type="text"
                       required value="{{ user.username }}" readonly/>
                <textarea id="txtComment" name="content" rows="4" placeholder="Votre commentaire" required></textarea>
                <div>
                    <input type="hidden" name="commentForm" value="comment"/>
                    <input class="btn-form" type="submit" value="Commenter"/>
                </div>
            </form>
        {% elseif roleLevel == constant('Framework\\Controller::BANNED') %}
            <p>Vous n'avez pas la possibilité de poster un commentaire</p>
        {% elseif roleLevel == constant('Framework\\Controller::VISITOR') %}
            <p>Veuillez valider ou créer votre compte pour poster un commentaire</p>
        {% endif %}
        {% if comments is defined %}
            {% for comment in comments %}
            <div class="comment">
                <p class="content-comment"><u>Commentaire :</u> {{ comment.content }}</p>
                <p class="author-comment"><b>{{ comment.username }}</b></p>
                <p class="date-comment"><b>Posté le:{{ comment.created_at|date("d/m/Y H:i") }}</b></p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


