{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Contactez-nous" }}{% endblock %}
{% block main %}
<section class="banner">
    <h1>Contact</h1>
    <p>Nous sommes présent pour répondre à toutes vos questions et pouvons intervenir en cas de besoins spécifiques, si vous le souhaitez, n’hésitez plus, notre équipe est là pour vous</p>
</section>
<section class="info-contact">
    <form class="contact-form" method="post">
        <label for="name">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Nom" name="name" value="{% if post.name is defined %}{{ post.name }}{% endif %}">
        </label>
        {% if validator.getErrorsMsg.name is defined %}
            <p class="text-danger">{{ validator.getErrorsMsg.name }}</p>
        {% endif %}
        <label for="email">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}">
        </label>
        {% if validator.getErrorsMsg.email is defined %}
            <p class="text-danger">{{ validator.getErrorsMsg.email }}</p>
        {% endif %}
        <label for="phone">
            <i class="fa fa-phone"></i>
            <input type="tel" placeholder="Téléphone" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}">
        </label>
        <label class="textarea-contact" for="content">
            <textarea name="content" placeholder="Message"></textarea>
        </label>
        <div>
            <input type="hidden" name="contactForm" value="contact">
            <input class="btn-form" type="submit" value="Envoyer le message">
        </div>
    </form>
    <div>
        <p>312 rue Octave Legrand</p>
        <p>62110 Hénin Beaumont</p>
        <p>Haut de France, France</p>
    </div>
</section>
{% endblock %}



