{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Mot de passe oublier" }}{% endblock %}

{% block main %}
    <section class="login">
        <form class="login-form" method="post">
            <div class="img-form-login">
                <img src="../media/icons-utilisateur.png" alt="logo">
            </div>
            <h1>Mot de passe oublier</h1>
            <p class="text-center">Saisissez l'adresse mail associée à votre compte.<br/> Nous vous enverrons à cette adresse un lien vous permettant de réinitialiser<br/> facilement votre mot de passe.</p>
            <label for="email">
                <i class="fa fa-envelope"></i>
                <input name="email" type="text" placeholder="Email"
                       value="{% if post.email is defined %}{{ post.email }}{% endif %}">
            </label>
            {% if validator.getErrorsMsg.email is defined %}
                <p class="text-danger">{{ validator.getErrorsMsg.email }}</p>
            {% endif %}
            <div>
                <input type="hidden" name="forgotPasswordForm" value="forgotPassword">
                <input class="btn-form" type="submit" id="submit" value="Recevoir le lien">
            </div>
        </form>
    </section>
{% endblock %}

