{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Inscription" }}{% endblock %}

{% block main %}
    <section class="login">
        <form class="login-form" method="post">
            <div class="img-form-login">
                <img src="/media/icons-utilisateur.png" alt="logo">
            </div>
            <h1>Inscription</h1>
            <label for="username">
                <i class="fa fa-user"></i>
                <input name="username" type="text" placeholder="Nom d'utilisateur"
                       value="{% if post.username is defined %}{{ post.username }}{% endif %}">
            </label>
            {% if validator.getErrorsMsg.username is defined %}
                <p class="text-danger">{{ validator.getErrorsMsg.username }}</p>
            {% endif %}
            <label for="email">
                <i class="fa fa-envelope"></i>
                <input name="email" type="text" placeholder="Email"
                       value="{% if post.email is defined %}{{ post.email }}{% endif %}">
            </label>
            {% if validator.getErrorsMsg.email is defined %}
                <p class="text-danger">{{ validator.getErrorsMsg.email }}</p>
            {% endif %}
            <label for="password">
                <i class="fa fa-lock"></i>
                <input name="password" type="password" placeholder="Mot de passe"
                       value="{% if post.password is defined %}{{ post.password }}{% endif %}">
            </label>
            {% if validator.errorsMsg.password is defined %}
                <p class="text-danger">{{ validator.errorsMsg.password }}</p>
            {% endif %}
            <label for="cPassword">
                <i class="fa fa-lock"></i>
                <input name="cPassword" type="password"
                       placeholder="Confirmez le mot de passe">
            </label>
            <div>
                <input type="hidden" name="registerForm" value="register">
                <input class="btn-form" type="submit" id="submit" value="Inscription">
            </div>
            <a href="/home/signIn">Je possède déjà un compte</a>
        </form>
    </section>
{% endblock %}

