{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Redéfinition du mot de passe" }}{% endblock %}

{% block main %}
<section class="login">
    <form class="login-form" method="post">
        <div class="img-form-login">
            <img src="../media/icons-utilisateur.png" alt="logo">
        </div>
        <h1>Redéfinition du mot de passe</h1>
        <label for="password">
            <i class="fa fa-lock"></i>
            <input name="password" type="password" placeholder="Nouveau mot de passe" value="{% if post.password is defined %}{{ post.password }}{% endif %}">
        </label>
        {% if validator.errorsMsg.password is defined %}
            <p class="text-danger">{{ validator.errorsMsg.password }}</p>
        {% endif %}
        <label for="cPassword">
            <i class="fa fa-lock"></i>
            <input name="cPassword" type="password"
                   placeholder="Confirmez le mot de passe">
        </label>
        <div>
            <input type="hidden" name="passwordForm" value="newPassword">
            <input class="btn-form" type="submit" id="submit" value="Valider">
        </div>
    </form>
</section>
{% endblock %}


