{% extends "gabarit.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ style ~ 'mobile.css' }}">
    <link rel="stylesheet" href="{{ style ~ 'tablet.css' }}" media="{{ mediaTablet }}">
    <link rel="stylesheet" href="{{ style ~ 'desktop.css' }}" media="{{ mediaDesktop }}">
{% endblock %}
{% block title %}{{ "Connexion" }}{% endblock %}

{% block main %}
<section class="login">
    <form class="login-form" action="">
        <div class="img-form-login">
            <img src="../media/icons-utilisateur.png" alt="logo">
        </div>
        <h1>Connexion</h1>
        <label for="username">
            <i class="fa fa-user"></i><input name="username" type="text" placeholder="Nom d'utilisateur">
        </label>
        <label for="password">
            <i class="fa fa-lock"></i><input name="password" type="password" placeholder="Mot de passe">
        </label>
        <div>
            <button class="btn-form" type="submit">Se connecter</button>
        </div>
        <a href="/home/forgotPassword">Mot de passe oublié ?</a>
    </form>
</section>
{% endblock %}


